.idea
ceres_app.iml
ceres.iml
.idea/dataSources.local.xml
.idea/workspace.xml
src/test/
src/main/resources/database.properties
out/
target/classes/by/bsuir/ceres/bean/Comment.class
target/classes/by/bsuir/ceres/bean/Meeting.class
target/classes/by/bsuir/ceres/controller/AdminController.class
target/classes/by/bsuir/ceres/controller/MeetingController.class
target/classes/by/bsuir/ceres/controller/exception/
target/classes/by/bsuir/ceres/controller/propertyeditor/ContactPersonPropertyEditor.class
target/classes/by/bsuir/ceres/controller/propertyeditor/FacultyPropertyEditor.class
target/classes/by/bsuir/ceres/controller/propertyeditor/ProjectPropertyEditor.class
target/classes/by/bsuir/ceres/controller/propertyeditor/StudentPersonPropertyEditor.class
target/classes/by/bsuir/ceres/controller/propertyeditor/UniversityPropertyEditor.class
target/classes/by/bsuir/ceres/controller/propertyeditor/UserPropertyEditor.class
target/classes/by/bsuir/ceres/dao/CommentRepository.class
target/classes/by/bsuir/ceres/dao/MeetingsRepository.class
target/classes/by/bsuir/ceres/service/CommentService.class
target/classes/by/bsuir/ceres/service/MeetingService.class
target/classes/by/bsuir/ceres/service/impl/CommentServiceImpl.class
target/classes/by/bsuir/ceres/service/impl/MeetingServiceImpl.class
target/generated-sources/
target/generated-test-sources/
target/maven-status/
target/surefire-reports/
target/surefire/
target/test-classes/
/target/
